---
import BaseLayout from '../layout/BaseLayout.astro'
import Herob from '../components/Herob.astro'
import ServicesGrid from '../components/ServicesGrid.astro'
import CTA from '../components/CTA.astro'
import About from '../components/About.astro'
---

<BaseLayout
  title="Estudio Jurídico Ana María Erazo | Abogada en Concepción"
  description="Asesoría legal clara y cercana en derecho sucesorio, derecho de familia y derecho inmobiliario en Concepción y Región del Biobío."
  canonical="https://www.estudiojuridicoanamariera.cl/"
>
  <!-- HERO PRINCIPAL -->
  <Herob />

  <section class="reveal">
    <ServicesGrid />
  </section>
  <section class="reveal">
    <About />
  </section>
  <section class="reveal">
    <CTA />
  </section>
</BaseLayout>
